$colors : (
  svg-red: 				#CA5948,
  svg-red-hidden: 		#faeeec,

  svg-green:			#528C5D,
  svg-green-hidden:		#edf3ee,

  svg-blue: 			#5A68A0,
  svg-blue-hidden: 		#eef0f5,

  svg-light-blue: 		#4BABD8,
  svg-light-blue-hidden: #edf6fb,

  svg-brown: 			#9B6144,
  svg-brown-hidden: 	#f5efec,

  svg-orange: 			#D78A4B,
  svg-orange-hidden: 	#fbf3ed,

  svg-purple: 			#A25980,
  svg-purple-hidden: 	#f6eef2,

  svg-yellow: 			#EBE457,
  svg-yellow-hidden: 	#fdfcee,

  svg-gray: 			#838382,
  svg-gray-hidden: 		#f2f2f2,

  svg-lime: 			#79B872,
  svg-lime-hidden: 		#f1f8f1,

  svg-teal:				#4C7EA9,
  svg-teal-hidden:		#f7fafa,

  svg-blue-gray: 		#B0CCCB,
  svg-blue-gray-hidden: #edf2f6,

  svg-pink: 			#E2A6A6,
  svg-pink-hidden: 		#fcf6f6,

  svg-split-color: 		#595959,
  svg-split-color-hidden: #eee,

  svg-black:			#000,
  svg-black-hidden:		#e5e5e5,

  svg-white:			#FFFFFF,
);

$svg-qs-padding:		12px;
$svg-hidden:			0.2;
$svg-shown:				1;

@mixin svg-hidden() {
  opacity: $svg-hidden;
}

@mixin svg-shown() {
  opacity: $svg-shown;
}

@mixin stroke($colorName) {
  stroke: map-get($colors, $colorName);
  &.map-hidden {
	stroke: map-get($colors, unquote("#{$colorName}-hidden"));
  }
}

@mixin fill($colorName) {
  .map-hidden & {
	fill: map-get($colors, unquote("#{$colorName}-hidden"));
  }
  fill: map-get($colors, $colorName);
}

@mixin background($colorName) {
  background: map-get($colors, $colorName);
}

@mixin backgroundWithHover($colorName) {
  //@error unquote("#{$colorName}-hidden");
  cursor: pointer;
  @include background(unquote("#{$colorName}-hidden"));
  &:hover{
	@include background($colorName);
  }
}

@mixin svg-transform($color, $level) {
  transform: rotate(#{-63 + 24 * $level}deg); // 24 = 360 / 15
  & > div {
	@include backgroundWithHover($color);
  }
}

#svg-quick-selects {
  & > div {
	position: 		relative;
  }

  & div {
	border-radius: 	50%;
	padding: 		$svg-qs-padding;
	display: 		inline-block;
  }

  & .svg-space {
	@include background('svg-white');
  }

  & #svg-qs-pink {
	@include backgroundWithHover('svg-pink');
	> div.svg-space {
	  height: 		4 * $svg-qs-padding;
	}
  }

  & #svg-qs-brown {
	position: 		absolute;
	top:			3 * $svg-qs-padding;
	left:			3 * $svg-qs-padding;
	height: 		4 * $svg-qs-padding;
	& > div {
	  @include backgroundWithHover('svg-brown');
	  padding: 		$svg-qs-padding;
	}
  }

  & .svg-rotator {
	position: 		absolute;
	padding: 		0 6 * $svg-qs-padding;;
	top:			5 * $svg-qs-padding;
	left: 			-1 * $svg-qs-padding;

	&#svg-qs-red-top {
	  @include svg-transform('svg-red', 2);
	}
	&#svg-qs-red-bottom {
	  @include svg-transform('svg-red', 10);
	}

	&#svg-qs-green-top {
	  @include svg-transform('svg-green', 7)
	}
	&#svg-qs-green-bottom {
	  @include svg-transform('svg-green', 14)
	}

	&#svg-qs-blue-top {
	  @include svg-transform('svg-blue', 3)
	}
	&#svg-qs-blue-bottom {
	  @include svg-transform('svg-blue', 11)
	}

	&#svg-qs-light-blue-bottom {
	  @include svg-transform('svg-light-blue', 12)
	}

	&#svg-qs-orange-top {
	  @include svg-transform('svg-orange', 1)
	}
	&#svg-qs-orange-bottom {
	  @include svg-transform('svg-orange', 9)
	}

	&#svg-qs-purple-top {
	  @include svg-transform('svg-purple', 5)
	}
	&#svg-qs-purple-bottom {
	  @include svg-transform('svg-purple', 13)
	}

	&#svg-qs-yellow-top {
	  @include svg-transform('svg-yellow', 4)
	}

	&#svg-qs-gray-top {
	  @include svg-transform('svg-gray', 0)
	}
	&#svg-qs-gray-bottom {
	  @include svg-transform('svg-gray', 8)
	}

	&#svg-qs-lime-bottom {
	  @include svg-transform('svg-lime', 6);
	}

	& > div {
	  position: absolute;
	  padding: 	0.5 * $svg-qs-padding;
	  bottom: 	1.5 * $svg-qs-padding;
	  right: 	1.5 * $svg-qs-padding;
	}
  }
}

#svg-select-all { margin: 10px auto; }

#neutrals > path {@include fill('svg-white');}
#elements > path {@include stroke('svg-split-color');fill:none;stroke-miterlimit:10;}
#stations > g > g {cursor:pointer}

#stations > g > g > rect {@include fill('svg-white');opacity:0.8;}
#stations > g > g.map-hidden > rect {@include fill('svg-white');opacity:0.2;}

#stations > g > g {
  > text {
	@include fill('svg-black');font-family:Arial;font-weight:bold;
  }
  &.map-hidden >text {
	@include fill('svg-black-hidden');
  }
}

.st2{@include stroke('svg-pink');fill:none;stroke-width:7;stroke-miterlimit:10;  }
.st41{@include fill('svg-pink');}

.st0{@include stroke('svg-yellow');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st35{@include fill('svg-yellow');}

.st3{@include stroke('svg-teal');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st37{@include fill('svg-teal');}

.st5{@include stroke('svg-blue');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st25{@include fill('svg-blue');}

.st6{@include stroke('svg-red');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st22{@include fill('svg-red');}

.st7{@include stroke('svg-light-blue');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st32{@include fill('svg-light-blue');}

.st9{@include stroke('svg-gray');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st20{@include fill('svg-gray');}

.st10{@include stroke('svg-lime');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st24{@include fill('svg-lime');}

.st11{@include stroke('svg-orange');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st23{@include fill('svg-orange');}

.st15{@include stroke('svg-purple');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st21{@include fill('svg-purple');}

.st12{@include stroke('svg-green');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st18{@include fill('svg-green');}

.st16{@include stroke('svg-brown');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st19{@include fill('svg-brown');}

.st13{@include fill('svg-white');@include stroke('svg-white');fill:none;stroke-miterlimit:10;}

.st8{@include stroke('svg-blue-gray');fill:none;stroke-width:7;stroke-miterlimit:10;}
.st40{@include fill('svg-blue-gray');}

.svg-map {
  font-size: 0.5em;
}

// IE 9+
@media screen and (min-width:0\0){
  .svg-map svg {
	width: 800px!important;
	height: 670px!important;
	background: blue;
  }
}


.scalable-map {
  font-size: 0.5em;
  display: inline-block;
  & > div {
	display: inline-block;
	height: 100%;
	& svg {
	  width: auto !important;
	  min-width: 100%;
	}
  }
}

// 565 - iphone5
@media only screen and (min-width: 550px){
  .scalable-map {
	display: inline-block;
	width: 100%;
	height: auto !important;
	& > div {
	  display: inline-block;
	  width: 100%;
	  height: auto !important;
	  & svg {
		width: 100%;
		font-size: 0.7em;
		height: auto !important;
	  }
	}
  }
}

@media only screen and (max-device-width : 320px) and (max-device-height: 480px)  {
  .svg-map {
	width: 100%;
	height: 100%;
	text-align: center;
  }
  @media (orientation: portrait) {
	.svg-map > div {
	  width: 100%!important;
	}
  }
}


@media only screen and (max-device-height : 320px) and (max-device-width: 480px)  {
  .svg-map {
	width: 100%;
	height: 100%;
	text-align: center;
  }
  @media (orientation: landscape) {
	.svg-map > div {
	  width: 100%;
	  height: 100%!important;;
	}
  }
}